/* General */
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Inter Variable", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Topbar */
#search-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#search-form {
    display: flex;
    width: 10rem;
    align-items: center;
    flex-flow: row;
}

#search-label {
    font-size: 1.5rem;
}

#search-bar {
    height: 1.5rem;
    width: 20rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}
#search-bar a:active {
    background-color: rgb(0, 0, 0);
}

/* Main Content */
.image-container {
    width: 35rem;
    height: 22rem;
    display: flex;
    flex-flow: row;
    background-color: aqua;
    margin: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    align-items: center;
    border-radius: 2rem;
}

.image-layer-container {
    display: grid;
    width: max-content; 
    height: max-content;
}

.image {
    display: inline-block; 
}

.image, .progressive-image {
    height: auto;
    width: auto;
    max-width: 25rem;
    max-height: 20rem;
    object-fit: contain;
}

.image-location-data {
    display: flex;
    flex-flow: column;
}

/* Main Content - ToggleLayout */
#toggle-layout {
    display: none;
}

#toggle-layout-label {
    display: inline-block;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
    background: #f3f3f3;
    transition: background 0.2s;
}
#toggle-layout-label:hover {
    background: #e0e0e0;
}

.reoderable-image-container {
    display: flex;
    flex-flow: column;
}

body:has(#toggle-layout:checked) .reoderable-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

body:has(#toggle-layout:checked) #list-icon {
    display: inline;
}

body:has(#toggle-layout:checked) #grid-icon {
    display: none;
}

body :has(#toggle-layout:not(:checked)) #list-icon {
    display: none;
}

/* Main Content - ToggleLanguage */
#toggle-language {
    display: none;
}

#toggle-language-label {
    display: inline-block;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
    background: #f3f3f3;
    transition: background 0.2s;
}

body:has(#toggle-language:checked) #swedish-flag {
    opacity: 100%;
}

body:has(#toggle-language:checked) #english-flag {
    opacity: 30%;
}

body :has(#toggle-language:not(:checked)) #swedish-flag {
    opacity: 30%;
}

/* Main Content - GridItems */
.position-grid-container {
    place-items: center;
    align-content: center;
    height: 20rem;
    width: 25rem;
}

.image, 
.progressive-image,
.grid-item-text,
.grid-item-badge,
.grid-item-download-badge {
    grid-area: 1 / 1;  
}

.grid-item-text {
    align-self: end;
    justify-self: end;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.grid-item-badge {
    align-self: start;
    justify-self: start;
    color: white;
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
}

.grid-item-download-badge {
    justify-self: end;
    align-self: start;
    color: white;
    background: rgba(137, 136, 136, 0.5);
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    font-size: 0.1rem;
}